n8n/5
{
  "name": "IustitIA Sucesión",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flujo-sucesion"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "flujo-sucesion"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Redactá un borrador de demanda de sucesión para el fallecido {{ $json[\"nombre_fallecido\"] }} el día {{ $json[\"fecha_fallecimiento\"] }} con herederos {{ $json[\"herederos\"] }} y domicilio {{ $json[\"domicilio\"] }}. El tono debe ser formal y jurídico."
            }
          ]
        }
      },
      "id": "Set Prompt",
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "AI Agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash"
      },
      "id": "Gemini Model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "tu-id-api",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "html",
              "value": "=<html>\n  <head>\n    <style>\n      body { font-family: 'Times New Roman'; margin: 40px; line-height: 1.6; }\n      h1 { text-align: center; border-bottom: 1px solid #000; padding-bottom: 10px; }\n      .firma { margin-top: 60px; }\n    </style>\n  </head>\n  <body>\n    <h1>Borrador Jurídico de Sucesión</h1>\n    <p><strong>Fallecido:</strong> {{ $json[\"nombre_fallecido\"] }}</p>\n    <p><strong>Fecha de fallecimiento:</strong> {{ $json[\"fecha_fallecimiento\"] }}</p>\n    <p><strong>Domicilio:</strong> {{ $json[\"domicilio\"] }}</p>\n    <p><strong>Herederos:</strong> {{ $json[\"herederos\"] }}</p>\n    <hr>\n    <div>\n      {{ $node[\"Google Gemini Chat Model\"].json.text }}\n    </div>\n    <div class=\"firma\">\n      <p>___________________________</p>\n      <p>Firma Profesional</p>\n    </div>\n  </body>\n</html>"
            }
          ]
        }
      },
      "id": "Set HTML",
      "name": "Set HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {},
      "id": "Crear archivo HTML",
      "name": "Crear archivo HTML",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "fromEmail": "gabrieliunti@hospitalposadas.gov.ar",
        "toEmail": "iuntigabriel@gmail.com",
        "subject": "Nuevo borrador de demanda generado por IA",
        "text": "Se adjunta el archivo borrador_sucesion.html con el texto generado automáticamente. Por favor, revise y continúe con el proceso.",
        "attachments": [
          {
            "binaryPropertyName": "data"
          }
        ]
      },
      "id": "Send Email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1300, 300],
      "credentials": {
        "smtp": {
          "id": "tu-smtp-id",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Gemini Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "Google Gemini Chat Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "main": [
        [
          {
            "node": "Set HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HTML": {
      "main": [
        [
          {
            "node": "Crear archivo HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear archivo HTML": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
