n8n/flujo-sucesion-gemini-openai_bak2.json
{
  "name": "flujo-sucesion-gemini-openai",
  "nodes": [
    {
      "parameters": {
        "path": "flujo-sucesion",
        "method": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Redact\u00e1 un borrador de demanda de sucesi\u00f3n para el fallecido {{ $json[\"nombre_fallecido\"] }} el d\u00eda {{ $json[\"fecha_fallecimiento\"] }} con herederos {{ $json[\"herederos\"] }} y domicilio {{ $json[\"domicilio\"] }}. El tono debe ser formal y jur\u00eddico."
            }
          ]
        }
      },
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{GEMINI_API_KEY}}",
        "options": {},
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json[\"prompt\"] }}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "name": "Gemini Pro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "html": "<html>\n  <head>\n    <style>\n      body { font-family: 'Times New Roman'; margin: 40px; line-height: 1.6; }\n      h1 { text-align: center; border-bottom: 1px solid #000; padding-bottom: 10px; }\n      .firma { margin-top: 60px; }\n    </style>\n  </head>\n  <body>\n    <h1>Borrador Jur\u00eddico de Sucesi\u00f3n</h1>\n    <p><strong>Fallecido:</strong> {{ $json[\"nombre_fallecido\"] }}</p>\n    <p><strong>Fecha de fallecimiento:</strong> {{ $json[\"fecha_fallecimiento\"] }}</p>\n    <p><strong>Domicilio:</strong> {{ $json[\"domicilio\"] }}</p>\n    <p><strong>Herederos:</strong> {{ $json[\"herederos\"] }}</p>\n    <hr>\n    <div>\n      {{ $node[\"Gemini Pro\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] }}\n    </div>\n    <div class=\"firma\">\n      <p>___________________________</p>\n      <p>Firma Profesional</p>\n    </div>\n  </body>\n</html>",
        "optionsBinary": {}
      },
      "name": "Generar PDF",
      "type": "n8n-nodes-base.htmlPdf",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "Gemini Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Pro": {
      "main": [
        [
          {
            "node": "Generar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}