n8n/flujo-sucesion-gemini-openai.json
{
  "name": "flujo-sucesion-gemini-openai",
  "nodes": [
    {
      "parameters": {
        "path": "flujo-sucesion",
        "method": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Redactá un borrador de demanda de sucesión para el fallecido {{ $json[\"nombre_fallecido\"] }} el día {{ $json[\"fecha_fallecimiento\"] }} con herederos {{ $json[\"herederos\"] }} y domicilio {{ $json[\"domicilio\"] }}. El tono debe ser formal y jurídico."
            }
          ]
        }
      },
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=TU_API_KEY",
        "options": {},
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json[\\\"prompt\\\"] }}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "name": "Gemini Pro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "html",
              "value": "<html>\n  <head>\n    <style>\n      body { font-family: 'Times New Roman'; margin: 40px; line-height: 1.6; }\n      h1 { text-align: center; border-bottom: 1px solid #000; padding-bottom: 10px; }\n      .firma { margin-top: 60px; }\n    </style>\n  </head>\n  <body>\n    <h1>Borrador Jurídico de Sucesión</h1>\n    <p><strong>Fallecido:</strong> {{ $json[\"nombre_fallecido\"] }}</p>\n    <p><strong>Fecha de fallecimiento:</strong> {{ $json[\"fecha_fallecimiento\"] }}</p>\n    <p><strong>Domicilio:</strong> {{ $json[\"domicilio\"] }}</p>\n    <p><strong>Herederos:</strong> {{ $json[\"herederos\"] }}</p>\n    <hr>\n    <div>\n      {{ $node[\"Gemini Pro\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] }}\n    </div>\n    <div class=\"firma\">\n      <p>___________________________</p>\n      <p>Firma Profesional</p>\n    </div>\n  </body>\n</html>"
            }
          ]
        }
      },
      "name": "Set HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "fileName": "borrador_sucesion.html",
        "dataPropertyName": "html",
        "mimeType": "text/html"
      },
      "name": "Crear archivo HTML",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "TU_CORREO@gmail.com",
        "toEmail": "ABOGADO_DESTINO@gmail.com",
        "subject": "Nuevo borrador de demanda generado por IA",
        "text": "Se adjunta el archivo borrador_sucesion.html con el texto generado automáticamente. Por favor, revise y continúe con el proceso.",
        "attachments": [
          {
            "binaryPropertyName": "data"
          }
        ]
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "smtp": {
          "id": "smtp_gmail",
          "name": "SMTP Gmail"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Prompt", "type": "main", "index": 0 }]]
    },
    "Set Prompt": {
      "main": [[{ "node": "Gemini Pro", "type": "main", "index": 0 }]]
    },
    "Gemini Pro": {
      "main": [[{ "node": "Set HTML", "type": "main", "index": 0 }]]
    },
    "Set HTML": {
      "main": [[{ "node": "Crear archivo HTML", "type": "main", "index": 0 }]]
    },
    "Crear archivo HTML": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  },
  "active": false
}
