n8n/flujo-sucesion-gemini-openai.json
{
  "name": "flujo-sucesion-gemini-openai",
  "nodes": [
    {
      "parameters": {
        "path": "flujo-sucesion",
        "method": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "2d6556e4-6aeb-4927-b089-4081395f32a7"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Redactá un borrador de demanda de sucesión para el fallecido {{ $json.body.nombre_fallecido }} el día {{ $json.body.fecha_fallecimiento }} con herederos {{ $json.body.herederos }} y domicilio {{ $json.body.domicilio }}. El tono debe ser formal y jurídico, siguiendo la estructura legal argentina."
            }
          ]
        },
        "options": {}
      },
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "id": "e6a12b64-8898-4bfa-a36c-92131b74744d"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{ $credentials.GeminiAPI.apiKey }}",
        "options": {},
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.prompt }}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "name": "Gemini Pro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "geminiApi": {
          "id": "GeminiAPI",
          "name": "GeminiAPI"
        }
      },
      "id": "401d670f-ac8d-4c3e-89da-5a1e2f69477e"
    },
    {
      "parameters": {
        "sourceFormat": "html",
        "destinationFormat": "pdf",
        "html": "<html>\n  <head>\n    <style>\n      body { font-family: 'Times New Roman', serif; margin: 40px; line-height: 1.6; }\n      h1 { text-align: center; border-bottom: 1px solid #000; padding-bottom: 10px; font-size: 18px; }\n      .firma { margin-top: 60px; }\n      p { margin-bottom: 12px; }\n    </style>\n  </head>\n  <body>\n    <h1>BORRADOR JURÍDICO DE SUCESIÓN</h1>\n    <p><strong>Causante (fallecido):</strong> {{ $json.body.nombre_fallecido }}</p>\n    <p><strong>Fecha de fallecimiento:</strong> {{ $json.body.fecha_fallecimiento }}</p>\n    <p><strong>Último domicilio del causante:</strong> {{ $json.body.domicilio }}</p>\n    <p><strong>Herederos denunciados:</strong> {{ $json.body.herederos }}</p>\n    <hr>\n    <div>\n      {{ $node[\"Gemini Pro\"].json.candidates[0].content.parts[0].text }}\n    </div>\n    <div class=\"firma\">\n      <p>___________________________</p>\n      <p>Firma Profesional</p>\n    </div>\n  </body>\n</html>",
        "options": {
          "pageSize": "A4"
        }
      },
      "name": "Convertir a PDF",
      "type": "n8n-nodes-base.convert",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "703d1680-1a1a-45c5-9240-a15a840e5509"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "Gemini Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Pro": {
      "main": [
        [
          {
            "node": "Convertir a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}